<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: head"></head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav th:replace="layout :: nav"></nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" th:text="${titulo}">Page Title</h1>
                    </div>
                </div>

                <!-- ... Your content goes here ... -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" th:text="${opcion}">Panel title</h3>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-4">
                                                <div class="hero-widget well well-sm">
                                                    <div class="icon">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <form role="form" th:object="${antecedenteFamiliar}" th:action="@{/antecedentefamiliar}" method="post">
                                        
                                            <input type="hidden" th:field="*{id}" />
                                            <input type="hidden" th:field="*{condicion}" />
                                            <input type="hidden" th:field="*{mismaEnfermedad}" />
                                            <input type="hidden" th:field="*{paciente.id}" />
                                            <input type="hidden" th:field="*{estado}" />

                                            <hr/>
                                            <h5>Información del Familiar: </h5>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{apePaterno}">Ape. Paterno</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{apePaterno}" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{apeMaterno}">Ape. Materno</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{apeMaterno}" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{nombre}">Nombres</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{nombre}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{documento.id}">Tipo Documento</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" th:field="*{documento.id}">
                                                            <option th:each="documentoOpt : ${documentos}" th:value="${documentoOpt.id}" th:text="${documentoOpt.nombre}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{nroDocumento}">Nro. Documento</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{nroDocumento}" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{genero.label}">Género</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" th:field="*{genero}">
                                                            <option th:each="generoOpt : ${generoEnum}" th:value="${generoOpt}" th:text="${generoOpt.label}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{parentesco.id}">Parentesco</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" th:field="*{parentesco.id}">
                                                            <option th:each="parentescoOpt : ${parentescos}" th:value="${parentescoOpt.id}" th:text="${parentescoOpt.nombre}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{fecNacimiento}">Fecha Nacimiento</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{fecNacimiento}" />
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-6 form-group form-group-sm">
                                                    <label class="col-sm-8 control-label" th:for="*{condicion}">¿Aún se encuentra vivo?</label>
                                                    <div class="col-sm-2 col-sm-pull-3">
                                                        <input type="checkbox" class="toggle-condicion" data-on="Si" data-off="No" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-sm-pull-2 form-group form-group-sm">
                                                    <label class="col-sm-8 control-label" th:for="*{mismaEnfermedad}">¿Es afectado por la misma enfermedad?</label>
                                                    <div class="col-sm-2">
                                                        <input type="checkbox" class="toggle-mismaEnfermedad" data-on="Si" data-off="No" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8 form-group form-group-sm">
                                                    <label class="col-sm-2 control-label" th:for="*{detalleEnfermedad}">Detalle Diagnóstico</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="3" placeholder="" th:field="*{detalleEnfermedad}" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-6 control-label" th:for="*{fecDiagnostico}">Fecha Diagnóstico</label>
                                                    <div class="col-sm-6">
                                                        <input class="form-control" placeholder="" th:field="*{fecDiagnostico}" />
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <hr/>
                                            <h5>Información del Paciente: </h5>
                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-3 control-label" for="pacienteNombre">Nombre</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" placeholder="" id="pacienteNombre" name="pacienteNombre" th:value="*{paciente.nombre + ' ' + paciente.apePaterno + ' ' + paciente.apeMaterno}" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{paciente.documento.nombre}">Tipo Documento</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{paciente.documento.nombre}" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{paciente.nroDocumento}">Nro Documento</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{paciente.nroDocumento}" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 form-group form-group-sm">
                                                    <label class="col-sm-2 control-label" th:for="*{paciente.ipress.nombre}">Ipress</label>
                                                    <div class="col-sm-10">
                                                        <input class="form-control" placeholder="" th:field="*{paciente.ipress.nombre}" disabled="true" />
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{fecRegistro}">Fecha Registro</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{fecRegistro}" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{fecModificacion}">Fecha Modificación</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" placeholder="" th:field="*{fecModificacion}" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 form-group form-group-sm">
                                                    <label class="col-sm-4 control-label" th:for="*{estado}">Estado</label>
                                                    <div class="col-sm-8">
                                                         <input type="checkbox" class="toggle-estado" data-on="Activo" data-off="Inactivo" />
                                                    </div>
                                                </div>
                                            </div>

                                            <hr/>

                                            <div class="row">
                                                <div class="col-sm-2 col-sm-offset-4">
                                                    <input type="submit" class="btn btn-primary" value="Guardar" />
                                                </div>
                                                <div class="col-sm-2">
                                                    <input type="button" th:onclick="|window.location.href='@{/paciente/{id}(id=${antecedenteFamiliar.paciente.id})}/antecedentefamiliar'|" class="btn btn-default" value="Cancelar" />
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- footer -->
    <footer th:replace="layout :: footer"></footer>

</body>

</html>