<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout :: head"></head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav th:replace="layout :: nav"></nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" th:text="${titulo}">Page Title</h1>
                    </div>
                </div>

                <!-- ... Your content goes here ... -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title" th:text="${opcion}">Panel title</h3>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form role="form" th:object="${director}" th:action="@{/director}" method="post">
                                            <input type="hidden" th:field="*{id}" />
                                            <input type="hidden" th:field="*{ipress.id}" />
                                            <input type="hidden" th:field="*{estado}" />
                                            <div class="form-group">
                                                <label>Nombres</label>
                                                <input class="form-control" placeholder="Ingrese nombres" th:field="*{nombre}" />
                                            </div>
                                            <label>Ipress</label>
                                            <div class="form-group input-group">
                                                <input type="text" class="form-control" th:field="*{ipress.nombre}" disabled="true" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ipressModal"><i class="fa fa-search"></i></button>
                                                </span>
                                            </div>
                                            <div class="modal fade" id="ipressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Ipress</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="panel panel-primary">
                                                                <div class="panel-heading">
                                                                    <h3 class="panel-title">Seleccionar</h3>
                                                                </div>
                                                                <!-- /.panel-heading -->
                                                                <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-striped table-bordered table-hover" id="table-datatable-1">
                                                                            <thead>
                                                                                <tr>

                                                                                    <th>Código</th>
                                                                                    <th>Nombre</th>
                                                                                    <th>Teléfono</th>
                                                                                    <th>RUC</th>
                                                                                    <th>Direccion</th>
                                                                                    <th>Distrito</th>
                                                                                    <th>Provincia</th>
                                                                                    <th>Departamento</th>
                                                                                    <th>Estado</th>
                                                                                    <th>Seleccionar</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr th:each="ipress: ${ipresses}" class="odd gradeX">

                                                                                    <td th:text="${ipress.codigo}"></td>
                                                                                    <td th:text="${ipress.nombre}"></td>
                                                                                    <td th:text="${ipress.telefono}"></td>
                                                                                    <td th:text="${ipress.ruc}"></td>
                                                                                    <td th:text="${ipress.direccion}"></td>
                                                                                    <td th:text="${ipress.distrito.nombre}"></td>
                                                                                    <td th:text="${ipress.distrito.provincia.nombre}"></td>
                                                                                    <td th:text="${ipress.distrito.provincia.departamento.nombre}"></td>
                                                                                    <td th:text="${ipress.estado}"></td>
                                                                                    <td class="text-center"><a th:onclick="|checkIpress(${ipress.id}, '${ipress.nombre}')|"><i class="fa fa-check-square-o fa-fw"></i></a></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <!-- /.table-responsive -->
                                                                </div>
                                                                <!-- /.panel-body -->
                                                            </div>
                                                            <!-- /.panel -->
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                            <!-- /.modal -->
                                            <label>Estado</label>
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" class="toggle-estado" data-on="Activo" data-off="Inactivo" />
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label>Fecha Registro</label>
                                                <input class="form-control" placeholder="" th:field="*{fecRegistro}" disabled="true" />
                                            </div>
                                            <div class="form-group">
                                                <label>Fecha Modificación</label>
                                                <input class="form-control" placeholder="" th:field="*{fecModificacion}" disabled="true" />
                                            </div>
                                            <div class="form-group">
                                                <label>Perfil</label>
                                                <input class="form-control" placeholder="" th:field="*{perfil}" disabled="true" />
                                            </div>
                                            <input type="submit" class="btn btn-primary" value="Guardar" />
                                            <a th:href="@{/director}" class="btn btn-default">Cancelar</a>
                                        </form>
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>

    <!-- footer -->
    <footer th:replace="layout :: footer"></footer>

</body>

</html>