
/*
 *  MINSA-ERH
 */

.modal-lg {
    min-width: 80% !important;
    max-width: 90% !important;
}

.image-header {
    width: 200px;
    height: 40px;
}
.navbar-brand {
    padding: 5px 25px 5px 25px;
}

footer .well-sm {
    text-align: center;
}

.login-background {
    background: url('../images/layout/wallpapers-hd.jpg') no-repeat center center fixed;
}

.h1-login {
    text-align: center;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.img-login {
    margin: 5px;
    width: 200px;
    height: 40px;
    display: block;
}

.img-inicio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}